
<div class="title-bar">
    <span class="page-header">Login</span>
</div>
<div class="divider"></div>

<form id="login-form" class="center-align">
    <div class="row">
        <div class="input-field">
            <input name="user" type="text" id="username" class="validate" required="">
            <label for="username">Username</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field">
            <input name="password" type="password" id="login-pass" class="validate" required="">
            <label for="login-pass">Password</label>
        </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
    </button>
</form>

