#login-form
  margin: 50px auto
  padding: 50px
  width: 50%
  border: 1px solid rgba(0, 0, 0, .1)
  border-top: 5px solid #00C9E1
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px



