
html
  background-color: #FAFAFA

#nav-logo
  font-family: 'Raleway', 'sans-serif'
  font-size: 35px

#logo
  margin-left: 15px
  height: 35px
  width: 35px

.inline-icon
  vertical-align: bottom

.container
  padding-bottom: 50px

.page-header
  font-size: 30px

.header-pagination
  display: inline
  float: right
  margin: 10px

.title-bar
  padding-top: 50px