<div id="filter-bar">
    <div class="row">
        <div class="input-field col s4">
            <select name="key" id="filter-key">
                <option value="" disabled selected>Select Key...</option>
            </select>
        </div>
        <div class="input-field col s4">
            <input placeholder="Value" id="filter-val" type="text">
        </div>
        <div class="input-field col s1">
            <button id="filter-submit" class="btn waves-effect waves-light" name="Submit">Submit</button>
        </div>
    </div>
</div>