<nav class="blue darken-2">
    <div class="nav-wrapper container">
        <a href="/" id="nav-logo" class="brand-logo">Plee Farm<img id="logo" src="images/coins.png"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/sessions">Sessions</a></li>
            <li><a href="/accounts">Accounts</a></li>
        </ul>
    </div>
</nav>