<ul class="context-menu">
    <li data-action="add"><i class="material-icons inline-icon">add</i> Add</li>
    <hr>
    <li data-action="show"><i class="material-icons inline-icon">visibility</i> Show "<span class="sel-item"></span>"</li>
    <li data-action="del"><i class="material-icons inline-icon">delete</i> Delete "<span class="sel-item"></span>"</li>
</ul>